<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.DAO.ITestDAO">
	<insert id="Insert" parameterType="com.jin.DTO.Person">
		INSERT INTO person(ID,
		FIRSTNAME, LASTNAME)
		VALUES (#{id, jdbcType=NUMERIC}, #{firstname, jdbcType=VARCHAR},
		#{lastname, jdbcType=VARCHAR})

	</insert>

	<select id="selectAll" resultType="com.jin.DTO.Person">
		SELECT * FROM PERSON
	</select>
	
	<select id="selectPart" resultType="com.jin.DTO.Person" parameterType="String">
		SELECT * FROM PERSON where id=#{id}
	</select>
	<!-- 
	<update id="modifyProc" parameterType="com.jin.DTO.Person">
		update person
		set firstname=#{firstname}, lastname=#{lastname}
		where id=#{id}
	</update>
	 -->
	 <update id="modifyProc" parameterType="map">
		update person
		set firstname=#{fn}, lastname=#{ln}
		where id=#{id}
	</update>
	
	<delete id="deleteProc" parameterType="String">
		delete from person
		where id=#{id}
	</delete>
</mapper>