<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.dbtest.IPersonDAO">
	<insert id="Insert" parameterType="com.jin.DTO.Person">
		INSERT INTO person(ID, FIRSTNAME, LASTNAME) 
		VALUES (#{id, jdbcType=NUMERIC}, #{firstname, jdbcType=VARCHAR},
		#{lastname, jdbcType=VARCHAR})
			
	</insert>
</mapper>