<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Board.IBoardDAO">
	<insert id="writeProc" parameterType="com.jin.Board.Board">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM board
		</selectKey>
			INSERT INTO board(no, id, title, content, writeDate)
			VALUES (#{no}, #{id}, #{title}, #{content}, #{writedate})
	</insert>
	
	<insert id="AttachFile" parameterType="map">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM attachFile
		</selectKey>
			INSERT INTO attachFile(no, systemFile, originFile, fno)
			VALUES (#{no}, #{systemFile}, #{originFile}, #{fno})
	</insert>
	
	<select id="ReadBoard" resultType="com.jin.Board.Board">
		select * from board
	</select>
	
	<select id="DetailRead" resultType="com.jin.Board.Board" parameterType="String">
		select * from board
		where no=${writeNo}
	</select>
	
	<select id="DetailReadAttach" resultType="map" parameterType="String">
		select systemFile, originFile from attachFile
		where fno=#{writeNo}
	</select>
	
	<insert id="Hits" parameterType="map">
		<selectKey keyProperty="readNo" resultType="int" order="BEFORE">
			SELECT nvl(max(readNo), 0)+1 FROM hits
			WHERE no=#{no}
		</selectKey>
		<choose>
			<when test="readNo==1">
				INSERT INTO Hits(no, readNo)
				VALUES(#{no}, #{readNo})
			</when>
			<otherwise>
				UPDATE Hits
				SET readNo=#{readNo}
				WHERE no=#{no}
			</otherwise>		
		</choose>
	</insert>
	
	<insert id="InsertReply" parameterType="map">
		<selectKey keyProperty="depth" resultType="int" order="BEFORE">
			select nvl(max(depth), 0)+1 as depth
			from reply
			where no=#{pno}
		</selectKey>
		insert into reply
		values(#{no}, #{pno}, #{depth})
	</insert>
</mapper>