<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Board.IBoardDAO">
	<insert id="writeProc" parameterType="com.jin.Board.Board">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM board
		</selectKey>
			INSERT INTO board(no, id, title, content, writeDate)
			VALUES (#{no}, #{id}, #{title}, #{content}, #{writedate})
	</insert>
	
	<insert id="AttachFile" parameterType="map">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM attachFile
		</selectKey>
			INSERT INTO attachFile(no, systemFile, originFile, fno)
			VALUES (#{no}, #{systemFile}, #{originFile}, #{fno})
	</insert>
	
	<select id="ReadBoard" parameterType="Map" resultType="com.jin.Board.Board">
		SELECT no, id, title, content, writedate, hit
		FROM(
			SELECT LEVEL, no, LPAD(' ', 4*(LEVEL-1))||title as title,
			id, content, writedate, hit, pno, depth, ROWNUM AS rnum
			FROM(
				SELECT b.no, writedate, title,
				content, id, nvl(readno, 0) as hit,
				nvl(pno, 0) as pno, nvl(depth, 0) as depth
				FROM board b
				LEFT JOIN hits h
				ON b.no = h.no
				LEFT JOIN reply r
				ON b.no=r.no
			)
			<if test="searchName!=null">
				<choose>
					<when test="searchName=='all'">
						WHERE title like '%'||#{searchWord}||'%'
						OR id like '%'||#{searchWord}||'%'
					</when>
					<!-- <when test="searchName=='title'">
						WHERE title like '%'||#{searchWord}||'%'
					</when> -->
					<otherwise>
						WHERE ${searchName} like '%'||#{searchWord}||'%'
					</otherwise>
				</choose>
			</if>
			START WITH pno=0
			CONNECT BY PRIOR no=pno
			ORDER SIBLINGS BY no desc
		)
		<![CDATA[WHERE rnum>=#{start} AND rnum<=#{end}]]>
	</select>
	
	<select id="DetailRead" resultType="com.jin.Board.Board" parameterType="String">
		select * from board
		where no=${writeNo}
	</select>
	
	<select id="DetailReadAttach" resultType="map" parameterType="String">
		select systemFile, originFile from attachFile
		where fno=#{writeNo}
	</select>
	
	<insert id="Hits" parameterType="map">
		<selectKey keyProperty="readNo" resultType="int" order="BEFORE">
			SELECT nvl(max(readNo), 0)+1 FROM hits
			WHERE no=#{no}
		</selectKey>
		<choose>
			<when test="readNo==1">
				INSERT INTO Hits(no, readNo)
				VALUES(#{no}, #{readNo})
			</when>
			<otherwise>
				UPDATE Hits
				SET readNo=#{readNo}
				WHERE no=#{no}
			</otherwise>		
		</choose>
	</insert>
	
	<insert id="InsertReply" parameterType="map">
		<selectKey keyProperty="depth" resultType="int" order="BEFORE">
			select nvl(max(depth), 0)+1 as depth
			from reply
			where no=#{pno}
		</selectKey>
		insert into reply
		values(#{no}, #{pno}, #{depth})
	</insert>
	
	<update id="Modify" parameterType="com.jin.Board.Board">
		UPDATE board
		SET title=#{title}, content=#{content}
		WHERE no=#{no}
	</update>
	
	<delete id="Delete" parameterType="String">
		DELETE FROM board
		WHERE no=#{no}
	</delete>
	
	<select id="BoardCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM BOARD
		<if test="searchName!=null">
			<choose>
				<when test="searchName=='all'">
					WHERE title like '%'||#{searchWord}||'%'
					OR id like '%'||#{searchWord}||'%'
				</when>
				<!-- <when test="searchName=='title'">
					WHERE title like '%'||#{searchWord}||'%'
				</when> -->
				<otherwise>
					WHERE ${searchName} like '%'||#{searchWord}||'%'
				</otherwise>
			</choose>
		</if>
	</select>
</mapper>